# Build and Release Folders
/node_modules
package-lock.json
.DS_Store
/config
config.*
.umirc.js
/.umi
.umi
.umi-production

# Other files and folders
/.idea
.webpackrc.js
dist
.nyc_output
npm-debug.log*
lerna-debug.log
.changelog
devdoc
/.vs
/.webpackrc.js
